.boton-amarillo-block{
    @include boton($amarillo, block)//block toma todo el espacio disponible
}
.boton-amarillo{
    @include boton($amarillo, inline-block)//block toma todo el espacio disponible
}
.boton-verde{
    @include boton($verde, inline-block)//block toma todo el espacio disponible
}
.boton-verde-block{
    @include boton($verde, block)//block toma todo el espacio disponible
}
.boton-rojo-block{
    @include boton($rojo, block);//block toma todo el espacio disponible
    width: 100%;
}

.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}